.addition
  .container
    .addition__heading.heading
      h2.title.title_img Еще больше возможностей заработать на своем трафике
      p.text-heading Дополнительные возможности, которые будут введены во время акции
    .addition__block
      p.addition__block-text Запуск 01.02.22
      .addition__block-info
        .addition__block-info__about
          p.addition__block-info__about-name Секретные задания
          p.addition__block-info__about-text Выполни основное задание, чтобы открыть доступ к секретному этапу с премиальным бонусом по офферу, который тебе точно понравится
        .addition__block-info__conditions
          p.addition__block-info__conditions-text Открывается после выполнения основного задания
          p.addition__block-info__conditions-text Награда — VIP-условия по офферу
        .addition__block-info__img 
          img(src="/images/addition-img-secret.svg", alt="addition-img")
    .addition__block.addition__margin-top
      p.addition__block-text Запуск 01.03.22
      .addition__block-info
        .addition__block-info__about
          p.addition__block-info__about-name Вызовы
          p.addition__block-info__about-text Соревнуйся с другими вебмастерами в своем ранге, стань лучшим в задании-вызове по спонсорскому офферу и получи дополнительный приз 
        .addition__block-info__conditions
          p.addition__block-info__conditions-text Побеждает вебмастер с лучшими результатами по офферу
          p.addition__block-info__conditions-text Вызовы доступны по офферам разных категорий
        .addition__block-info__img 
          img(src="/images/addition-img-challenge.svg", alt="addition-img")