.calc__wrapper
  h2.title.title_img.heading Узнай, какая награда ждет именно тебя
  .calc__wrapper
    .calc__offer
      .calc__offer_title-sm Выбери оффер
      .calc__offer_title-wrapper
        .calc__offer_title ошибка загрузки
        .calc__offer_sup
      .calc__offer_table-wrapper
        .calc__offer_table-items
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
      .calc__offer_table-wrapper
        .calc__offer_table-items
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
          .calc__offer_table-item
            .calc__offer_table-item_title Цель
            .calc__offer_table-item_text Выдача
      .calc__offer_title-sm Текущие конверсии
      .calc__offer_value 1000
      .calc__range-wrapper
        input
      .calc__offer_value-minmax
        p.calc__offer_value-minmax_min min: 10
        p.calc__offer_value-minmax_max max: 1000
    .calc__sum
      .calc__sum_wrapper
        .calc__sum_table-title Общая награда
        .calc__sum_container
          .calc__sum_rub ₽
          .calc__sum_value 0
        .calc__sum_table-wrapper
          .calc__sum_table-wrapper_items
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Цель 1
              .calc__sum_table_wrapper_item-text 0
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Цель 2
              .calc__sum_table_wrapper_item-text 0
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Цель 3
              .calc__sum_table_wrapper_item-text 0
          .calc__sum_table-wrapper_items
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Награда 1
              .calc__sum_table_wrapper_item-text 0
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Награда 2
              .calc__sum_table_wrapper_item-text 0
            .calc__sum_table-wrapper_item
              .calc__sum_table_wrapper_item-title Награда 3
              .calc__sum_table_wrapper_item-text 0
          