.calc__wrapper
  .container
    h2.title.title_img.heading Узнай, какая награда ждет именно тебя
    .calc__wrapper-block
      .calc__offer
        .calc__offer_title-big Выбери оффер
        .calc__offer_title-wrapper
          .calc__offer_title Займер [micro][sale]
          .calc__offer_sup 530
        .calc__offer_table-wrapper
          .calc__offer_table-items
            .calc__offer_table-item
              .calc__offer_table-item_title Цель
              .calc__offer_table-item_text Выдача
            .calc__offer_table-item
              .calc__offer_table-item_title Выплата
              .calc__offer_table-item_text 1500 р
            .calc__offer_table-item
              .calc__offer_table-item_title Статистика
              .calc__offer_table-item_text Автоаппрув
        .calc__offer_table-wrapper
          .calc__offer_table-items
            .calc__offer_table-item
              .calc__offer_table-item_title Hold
              .calc__offer_table-item_text 14 дней
            .calc__offer_table-item
              .calc__offer_table-item_title EPC
              .calc__offer_table-item_text 52.16 р.
            .calc__offer_table-item
              .calc__offer_table-item_title AR
              .calc__offer_table-item_text 28.46%
        .calc__offer_title-big.margin-top Твои текущие конверсии
        .calc__offer_value 124
        .calc__range-wrapper#range
          input(
            type="range" 
            min="0" max="1000")
        .calc__offer_value-minmax
          p.calc__offer_value-minmax_min min: 10
          p.calc__offer_value-minmax_max max: 1000
      .calc__sum
        .calc__sum_wrapper
          .calc__sum_table-title Общая награда
          .calc__sum_container
            .calc__sum_rub ₽
            .calc__sum_value 206 000
          .calc__sum_table-wrapper
            .calc__sum_table-wrapper_items
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Цель 1
                .calc__sum_table_wrapper_item-text 1 650
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Цель 2
                .calc__sum_table_wrapper_item-text 1 650
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Цель 3
                .calc__sum_table_wrapper_item-text 1 650
            .calc__sum_table-wrapper_items
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Награда 1
                .calc__sum_table_wrapper_item-text 3 000
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Награда 2
                .calc__sum_table_wrapper_item-text 3 000
              .calc__sum_table-wrapper_item
                .calc__sum_table_wrapper_item-title Награда 3
                .calc__sum_table_wrapper_item-text 3 000
          