.market
  .market__container.container
    .market__wrapper
      .market__info
        h3.title Тебя уже ждет обновленный LEADS.MARKET
        ul.market__info-about
          li.market__info-about_item
            p.market__info-about_item-title 10 категорий
            p.market__info-about_item-text от сертификатов до авто
          li.market__info-about_item
            p.market__info-about_item-title 300+ товаров
            p.market__info-about_item-text без лимита покупок
          li.market__info-about_item
            p.market__info-about_item-title 100 заказов
            p.market__info-about_item-text в среднем в месяц
      .market__slider
        swiper-container.swiper.mySwiper(
          space-between="30" 
          pagination="true" 
          pagination-clickable="true"
        )
          swiper-slide
            .market__card
              .market__card-pic
                img(src="/images/market-img-1.png", alt="market-card-pic")
              .market__card-info
                .market__card-info_category Подарочные сертификаты
                .market__card-info_name Сертификат OZON 5000 руб.
                .market__card-info_about Электронный, действует 1 год
                .market__card-info_price 9 262к
          swiper-slide
            .market__card
              .market__card-pic
                img(src="/images/market-img-2.png", alt="market-card-pic")
              .market__card-info
                .market__card-info_category Подарочные сертификаты
                .market__card-info_name Сертификат OZON 5000 руб.
                .market__card-info_about Электронный, действует 1 год
                .market__card-info_price 9 262к
          swiper-slide
            .market__card
              .market__card-pic
                img(src="/images/market-img-3.png", alt="market-card-pic")
              .market__card-info
                .market__card-info_category Подарочные сертификаты
                .market__card-info_name Сертификат OZON 5000 руб.
                .market__card-info_about Электронный, действует 1 год
                .market__card-info_price 9 262к
          swiper-slide
            .market__card
              .market__card-pic
                img(src="/images/market-img-4.png", alt="market-card-pic")
              .market__card-info
                .market__card-info_category Подарочные сертификаты
                .market__card-info_name Сертификат OZON 5000 руб.
                .market__card-info_about Электронный, действует 1 год
                .market__card-info_price 9 262к
          swiper-slide
            .market__card
              .market__card-pic
                img(src="/images/market-img-5.png", alt="market-card-pic")
              .market__card-info
                .market__card-info_category Подарочные сертификаты
                .market__card-info_name Сертификат OZON 5000 руб.
                .market__card-info_about Электронный, действует 1 год
                .market__card-info_price 9 262к