.party__wrapper
  .container 
    .party__heading
      h2.title.title_img Лучших вебмастеров мы пригласим в монако на грандиозный финал акции
      p.party__text-heading Неважно, как много ты зарабатываешь и сколько конверсий делаешь. Выполняй как можно больше заданий, участвуй в Вызовах, завершай Секретные задания. Тогда именно тебя мы пригласим в Монако* на финал акции.
    .party__pic-items
      .party__item
        span p
        img(src="/images/party_1.png", alt="party_img")
      .party__item
        span A
        img(src="/images/party_2.png", alt="party_img")
      .party__item
        span r
        img(src="/images/party_3.png", alt="party_img")
      .party__item
        span t
        img(src="/images/party_4.png", alt="party_img")
      .party__item
        span y
        img(src="/images/party_5.png", alt="party_img")
    p.party__note *Нам не хотелось бы, но место проведения финала может измениться из-за covid-19 и визового режима