.pre-footer__block
  .container
    .heading 
      h2.title Мы уже загрузили задания для тебя
      p.text-heading Подключи их в личном кабинете и начинай зарабатывать больше
      a(href="/").btn Принять участие
    ul.socials__wrapper
      li.socials__item
        a(href="/").socials__item-link.yt
      li.socials__item
        a(href="/").socials__item-link.vk
      li.socials__item
        a(href="/").socials__item-link.tg