section.welcome
  .container.welcome__container
    .welcome__text_item
      h1.title.welcome__title Новая акция LEADS
      p.welcome__action-name MONEYFEST
      p.title.welcome__title 01.12.2021-30.11.2022