include template/head.pug
body
  main
    include template/welcome_block.pug

    include template/calc_block.pug

    include template/party_block.pug

    include template/addition_block.pug

    include template/market_block.pug

    include template/pre_footer_block.pug

  include template/footer.pug
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js")